# Web Server
fastapi
uvicorn
python-dotenv

# AI & LLM (Lightweight API versions)
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu

# Data Handling
pandas
pymongo
pydantic
python-multipart

# Utilities
requests